@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|ABeeZee|Anaheim|Tenor+Sans|Carrois+Gothic+SC|Oxygen:400,700,300);
body {
	margin:0px;
	font-family:Source Sans Pro;
}
nav {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	background-color:#000;
	color:#fff;
	opacity:.6;
}
nav > ul {
	margin:0px;
	padding-left:0px;
}
li.navItem {
	display:inline-block;
	padding:15px;
	cursor:pointer;
}
li.navItem:hover {
	background-color:#333;
}
li.navItem:active {
	background-color:#111;
}
#photoScroller {
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	overflow:hidden;
}
.photo {
	position:absolute;
	height:100%;
	width:100%;
	background-size:cover;
	transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;}
#photo1 {
	background-image:url("../photos/dublin.jpg");
}
#photo2 {
	background-image:url("../photos/seagull.jpg");
}
#previousPhoto {
	position:absolute;
	width:50%;
	left:0px;
	top:0px;
	bottom:0px;
	cursor:pointer;
}
#nextPhoto {
	position:absolute;
	width:50%;
	left:50%;
	top:0px;
	bottom:0px;
	cursor:pointer;
}
#previousArrow {
	position:absolute;
	top:42%;
	left:10px;
}
#nextArrow {
	position:absolute;
	top:42%;
	right:10px;
}
.hidden {
	display:none;
}
.dismissed {
	transform:translate(-100%);
}
footer {
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:#000;
	color:#fff;
	opacity:.6;
	font-size:.7em;
	padding:3px;
	text-align:right;
}